body{
    margin: 0;
}

.searchbar{
    height: 75px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 25px; padding-left:25px;
}

.searchbar .logo{
    align-self: flex-start;
}

.searchbar .logo img{
    width: 100px;
}

.content{
    border: solid thin gray;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
}

.feature{
    height: 300px;
    width: 80vw;
    background-color: blue;
    margin-top: 25px; margin-bottom:25px;
    margin-right: 25px;
}

.side_nav{
    width: 150px;
    border-right: thin solid gray;
    padding: 25px;
}

    .side_nav h1{
        font-size: 20px;
        font-weight: bold;
        margin: 0; padding: 0;
        margin-bottom: 10px;
    }
    
    .side_nav a h2{
        font-size: 14px;
        font-weight: normal;
        margin: 0; padding: 0;
        margin-left: 15px;
        text-decoration: none;
        color: black;
    }

.cart_button{
    background-color: #00D35B;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    text-align: right;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    color: white;
    font-size: 25px;
    font-family: sans-serif;
}