body{
    margin: 0;
}

.searchbar{
    height: 75px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 25px; padding-left:25px;
}

.content{
    border: solid black thick;
    display: flex;
    flex-direction:row;
    justify-content:space-between;
}

.feature{
    height: 300px;
    width: 75vw;
    background-color: blue;
    margin-top: 25px; margin-bottom:25px;
    margin-right: 25px;
}

.side_nav{
    width: 200px;
    height: 70vh;
    background-color: yellow;
    padding: 25px;
}

.cart_button{
    background-color: #00D35B;
    border-radius: 5px;
    width: 100px;
    height: 50px;
    text-align: right;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    color: white;
    font-size: 25px;
    font-family: sans-serif;
}